.right-button{
    text-align: center;
    list-style: none;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(252,157,157);
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
  .title{
    text-align: center;
    margin-left: 10%;
  }