/* Estilos para la página de recuperación de contraseña */
.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .forgot-password-form {
    max-width: 350px;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .forgot-password-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .forgot-password-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .forgot-password-button:hover {
    background-color: #0056b3;
  }
  
  .return-link {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
  }
  
  .return-link:hover {
    text-decoration: underline;
  }
  