/* styles.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    /*z-index: 100; /* Ensures it's above other content */
    height: 35px;
  }
  
  .left-button, .right-button {
    background-color: rgb(252,157,157);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .left-button:hover, .right-button:hover {
    background-color: rgb(252,157,157);
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
    background-color: #333;
    text-decoration: none;
    color: white;
    
  }
  
  .right-button {
    padding: 5px;
  }
  
  .right-button i {
    font-size: 24px;
  }
  
  /* Add padding to the body to push content below the navbar */
  body {
    padding-top: 70px; /* Adjust as needed based on the height of your navbar */
  }
  