body {
    background-color: rgb(239, 235, 235);
  }

.register-container {
    position: fixed;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
    margin: 20px;
    padding: 20px;
    background-color: white;
    top:50%;
    left:50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
  }

  .create-link{
    text-decoration: none;
    color:white;
  }
 
  .register-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px outset #ccc;
    width: 300px;
    border-radius: 5px;
  }
  
  .register-button {
    background-color: rgb(252,157,157);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 180px;
    text-decoration: none;
    border: 1px inset #ccc;
    
  }
  
  .already-button {
    background-color: rgb(144,12,63);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 180px;
    font-weight: bold;
    text-decoration: none;
  }
  .already-link{
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  hr {
    border: none; /* Remove the default border */
    border-top: 1px solid #ccc; /* Add a solid line with color */
    
    width: 180px;
  }
  .terms{
    font-size: small;
  }