
h1,h2{
    text-align: center;
}
body{
    background-color: #84b6f4;
}
/* Estilos generales */

  
  /* Contenedor principal */
  .Agregar {
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  /* Encabezado */
  h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
  }
  
  /* Títulos secundarios */
  h2 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  /* Tarjetas de usuario */
  .card-option {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    max-width:100% ;
    
    
  }
  
  /* Imagen de la tarjeta */
  .card-image-container {
    text-align: center;
    margin-bottom: 10px;
    
  }
  
  .card-image {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    align-items: center;
  }
  
  /* Botones */
  .card-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-items: center;
  }
  
  .card-button:hover {
    background-color: #0056b3;
  }
  
  /* Botón de agregar tarjeta */
  .mb-2 {
    margin-bottom: 20px;
  }
  
  .variant-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .variant-primary:hover {
    background-color: #0056b3;
  }
  
  /* Mensaje de error */
  .error-message {
    color: #ff0000;
    font-size: 16px;
    margin-top: 10px;
  }
  
  /* Estilo para el contenedor de tarjetas */
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    
  }
  
  /* Estilos para la tarjeta registrada */
  .card-registered {
    max-width: calc(50% - 20px);
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    align-items: center;
  }
  
  /* Estilos para la imagen de la tarjeta registrada */
  .card-registered img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    align-items: center;
  }
  
  /* Estilos para el botón de eliminar tarjeta */
  .delete-card-button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-items: center;
  }
  
  .delete-card-button:hover {
    background-color: #cc0000;
  }
  