
body{
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin-left: 200px;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(179, 235, 242);
}

.h2{
  margin-left: 300px;
}

.tablaInfo{
  margin-left: 300px;
}

 /* botones */
 .guardar {
  position: absolute;
  top: 100px;
  right: 30px;
  transform: translateY(-50%);
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #1414de;
  border-color: #091bdd;
  background-color:white;
  border-radius: 40px;
  cursor: pointer;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.guardar:hover {
  background-color: #3e79ee;
}

.guardar:active {
  background-color: #3e79ee;
}

.guardar:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.cancelar {
  position: absolute;
  top: 100px;
  right: 140px;
  transform: translateY(-50%);
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #1414de;
  background-color: white;
  border-color: #091bdd;
  border-radius: 40px;
  cursor: pointer;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.cancelar:hover {
  color: rgb(179, 235, 242);
  border-color: #3e79ee;
  background-color: #3e79ee;
}

.cancelar:active {
  border-color: #3e79ee;
  background-color: #3e79ee;
}

.cancelar:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.Contenedor{
  position: relative;
  height: 30px;
  width: 200px;
  margin-bottom: 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Datos */

.datos {
    position:relative;
    width: 120px;
    height: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: black;
    background-color: rgb(179, 235, 242);
    border: 40px;
    cursor: pointer;
    order: 0;
    flex-grow: 0;
  }
  
  .datos:hover {
    color: white;
    border-color: #3e79ee;
    background-color: #3e79ee;
  }
  
  .datos:active {
    border-color: #3e79ee;
    background-color: #3e79ee;
  }
  
  .datos:focus {
    outline: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  }


/* tablas Datos */
.tablaDatos {
  
  height: 370px;
  width: 1650px;
}

.tablaInfo{
  column-width: 4000%;
}


/*Texto*/
.texto {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #723880;
  border-radius: 7px;
  font-size: 16px;
  padding: 20px;
  margin-left: 10%;
  outline: none;
  background: none;
  z-index: 1px;
}

.texto:focus {
  border: 2px solid purple;
}
.texto:focus+ .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: purple;
  background-color: white;
}
.texto:hover+ .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: purple;
  background-color: white;
}

.texto2 {
    
  top: 0px;
  left: 0px;
  height: 100%;
  width: 400%;
  border: 1px solid #723880;
  border-radius: 7px;
  font-size: 16px;
  padding: 10px;
  margin-left: 10%;
  outline: none;
  background: none;
  z-index: 1;
}

.texto2:focus + .texto2 {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 500; 
  color: purple;
}
.texto2:focus {
  border: 2px solid purple;
}
.texto2:hover+ .label2 {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: purple;
  background-color: rgb(253, 225, 255);
}
.texto2:focus+ .label2 {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: purple;
  background-color: rgb(253, 225, 255);
}


.texto3 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #723880;
  border-radius: 7px;
  font-size: 16px;
  padding: 20px;
  margin-left: 10%;
  outline: none;
  background: none;
  z-index: 1;
}

.texto3:focus + .texto3 {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 500; 
    color: purple;
  }
  .texto3:focus {
    border: 2px solid purple;
  }
  .texto3:hover+ .label3 {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: purple;
    background-color: rgb(253, 225, 255);
  }
  .texto3:focus+ .label3 {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: purple;
    background-color: rgb(253, 225, 255);
  }


.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  margin-left: 10%;
  background-color: none;
  color: #723880;
  font-size: 16px;
  
}

.label2 {
  position: absolute;
  top: 0;
  left: 5px;
  padding: 0 4px;
  margin-left: 10%;
  background-color: none;
  color: #723880;
  font-size: 16px;
  

}
.label3 {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  margin-left: 10%;
  background-color: none;
  color: #723880;
  font-size: 16px;
  
}

.contenido {
    background-color: rgb(179, 235, 242);
    display: flex;
    flex-direction: column;
    height: 100vh; /* Establece la altura al 100% de la ventana */
    width: 1600px;
    margin-left: 210px;
  }

  hr {
    border: none; /* Remove the default border */
    border-top: 1px solid #ccc; /* Add a solid line with color */
    
    width: 180px;
  }
.row{
  margin-left: 50px;
}
.col-2 d-flex flex-row-reverse align-items-center{
  margin-left: 150px;
}

.col-1 d-flex flex-row-reverse align-items-center{
  margin-left: 150px;
}

