body{
    background-color: white;
}
.container{
   
    position: fixed;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
    margin: 20px;
    padding: 20px;
    background-color: white;
    top:50%;
    left:50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}
.login-button {
    background-color: rgb(252,157,157);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 180px;
    
  }
  .signin-link{
    text-decoration:none!important;
    color:white;
    font-weight: bold;
  }